# Options for pgpool service file
PGPOOLUSER="{{ pgpool2_user }}"

# Options for pgpool

# -n: don't run in daemon mode. does not detatch control tty
# -d: debug mode. lots of debug information will be printed
# -D: Discard pgpool_status file and do not restore previous status

#OPTS=" -d -n"
OPTS=" -n -D"

